In [2]:
import csv
import numpy as np
import sys
import pandas as pd
import datetime

In [16]:
sys.path.append("C:/OSGeo4W/apps/qgis-ltr/python")
from qgis.core import *
from PyQt5.QtCore import *

In [22]:
def statistic_alti(root, filename, name) :
    ALTI = []
    with open(root+filename) as file :
        readcsv = csv.reader(file, delimiter=',')
        line = 0
        for row in readcsv :
            if line == 0 :
                ididx = row.index('id')
                zidx = row.index('Z')
            if line > 0 :
                ALTI.append([float(row[zidx]),float(row[ididx])])
            line += 1

    def sortSecond(val):
        return val[1]
    ALTI.sort(key=sortSecond)

    ROW = []
    tmpalti = [ALTI[0][0]]

    for i in range(1,len(ALTI)) :

        if ALTI[i][1] == ALTI[i-1][1] and i != len(ALTI)-1 :
            tmpalti.append(ALTI[i][0])

        elif ALTI[i][1] != ALTI[i-1][1] or i == len(ALTI)-1:

            idname = ALTI[i-1][1]
            count = len(tmpalti)
            ROW.append([idname, np.mean(tmpalti),np.std(tmpalti), np.median(tmpalti), count])

            tmpalti = [ALTI[i][0]]
    fields = ['ID', 'MEAN_ALTI', 'STD_ALTI', 'MEDIAN_ALTI', 'COUNT'] 

    filename = root+'STAT\\'+"STAT_ID_GRID_"+str(name)+".csv"

    # writing to csv file 
    with open(filename, 'w') as csvfile: 
        # creating a csv writer object 
        csvwriter = csv.writer(csvfile) 

        # writing the fields 
        csvwriter.writerow(fields) 

        # writing the data rows 
        csvwriter.writerows(ROW)
    print('Le fichier '+str(name)+'.csv a été exporté avec les statistiques avec grand plaisir.\n Vénérable grand maitre megneu.')

In [23]:
root = './GRILLE/'

CLUSTERS = ['SON']
YEARS = ['2019', '2020']
for cluster in CLUSTERS :
    for saison in range(1,5) :
        for year in YEARS : 
            name = str(cluster)+'_'+str(saison)+'_'+year
            filename = name+'_GRILLE.csv'
            statistic_alti(root, filename, name)

Le fichier SON_1_2019.csv a été exporté avec les statistiques avec grand plaisir.
 Vénérable grand maitre megneu.
Le fichier SON_1_2020.csv a été exporté avec les statistiques avec grand plaisir.
 Vénérable grand maitre megneu.
Le fichier SON_2_2019.csv a été exporté avec les statistiques avec grand plaisir.
 Vénérable grand maitre megneu.
Le fichier SON_2_2020.csv a été exporté avec les statistiques avec grand plaisir.
 Vénérable grand maitre megneu.
Le fichier SON_3_2019.csv a été exporté avec les statistiques avec grand plaisir.
 Vénérable grand maitre megneu.
Le fichier SON_3_2020.csv a été exporté avec les statistiques avec grand plaisir.
 Vénérable grand maitre megneu.
Le fichier SON_4_2019.csv a été exporté avec les statistiques avec grand plaisir.
 Vénérable grand maitre megneu.
Le fichier SON_4_2020.csv a été exporté avec les statistiques avec grand plaisir.
 Vénérable grand maitre megneu.

In [29]:
def export_csv(fields, ROW, filename) :
    with open(filename+'.csv', 'w') as csvfile: 
        # creating a csv writer object 
        csvwriter = csv.writer(csvfile) 

        # writing the fields 
        csvwriter.writerow(fields) 

        # writing the data rows 
        csvwriter.writerows(ROW)

In [5]:
root = 'E:\\PYYYYYTon\\'
SONFlex = pd.read_csv(root+'SON_flextra_data.csv')

In [6]:
SONFlex

,Unnamed: 0,RUN,SECS,cluster,SEASON,DATE,TIME,LONGIT,LATIT,Z,PRESS,PV,THETA,Q,HMIX,RR
0,1,run_125,0,2,SON,11/30/2014,18:00,23.4735,-71.9601,1486.3,815.7,2.044,274.6,0.000568,258,0.001
1,2,run_125,-10800,2,SON,11/30/2014,15:00,25.9776,-72.2787,2159.1,751.6,0.567,274.7,0.000507,280,0.000
2,3,run_125,-21600,2,SON,11/30/2014,12:00,27.9635,-72.8568,2439.0,724.0,-0.498,274.3,0.000477,70,0.000
3,4,run_125,-32400,2,SON,11/30/2014,9:00,30.2710,-73.2047,2552.5,714.4,-1.201,272.4,0.000371,95,0.000
4,5,run_125,-43200,2,SON,11/30/2014,6:00,33.1811,-73.3264,2771.1,693.8,-1.608,270.0,0.000272,132,0.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
324319,324320,run_15096,-820800,1,SON,8/22/2012,12:00,85.3907,-35.4793,84.0,1013.6,0.002,284.9,0.005550,1011,0.006
324320,324321,run_15096,-831600,1,SON,8/22/2012,9:00,84.4297,-35.0830,100.1,1013.3,0.006,284.6,0.005570,1069,0.008
324321,324322,run_15096,-842400,1,SON,8/22/2012,6:00,83.6720,-34.6998,120.0,1012.7,0.004,284.3,0.005680,851,0.000
324322,324323,run_15096,-853200,1,SON,8/22/2012,3:00,82.6935,-34.2569,133.8,1003.0,-0.012,286.1,0.007580,516,0.000
324323,324324,run_15096,-864000,1,SON,8/22/2012,0:00,81.9434,-33.9276,164.1,1009.0,0.002,283.8,0.006150,692,0.001

In [18]:
for y in [2019,2020] :
    for i in range(1,5) :
        bina = np.where(SONFlex.cluster == i, 1, 0)
        bina *= np.where(SONFlex.DATE.astype(np.datetime64) >= datetime.datetime(y, 1,1), 1,0)
        bina *= np.where(SONFlex.DATE.astype(np.datetime64) <= datetime.datetime(y+1, 1,1), 1,0)

        LONG = np.extract(bina,SONFlex.LONGIT)
        LAT = np.extract(bina,SONFlex.LATIT)
        Z = np.extract(bina,SONFlex.Z)
        out = np.array([LONG, LAT, Z]).transpose()
        export = pd.DataFrame(out, columns=['LONG', 'LAT','Z']).to_csv('./SON_%i_%i.csv' %(i, y))

In [ ]:
unique, counts = np.unique(bina, return_counts=True)

In [33]:
unique, counts

(array([0, 1]), array([318897,   5427], dtype=int64))

In [24]:
SONFlex.DATE.astype(np.datetime64) >= datetime.datetime(2019,1,1)

0         False
1         False
2         False
3         False
4         False
          ...
324319    False
324320    False
324321    False
324322    False
324323    False
Name: DATE, Length: 324324, dtype: bool